<%- include('partials/header') %>
<h1>About Dorothy Care</h1>
<p>At Dorothy Care, we are dedicated to delivering quality care through experienced staff and personalized service.</p>
<%- include('partials/footer') %>
