<%- include('partials/header') %>
<h1>Our Services</h1>
<ul>
  <li>Companionship</li>
  <li>Elderly-Care</li>
  <li>Nursing-Care</li>
  <li>Personal-Care</li>
  <li>Respite-Care</li>
</ul>
<%- include('partials/footer') %>
